.form-control {
	background: #ffffff;
	border: 1px solid #a9a9a9;
}
button.form-control{
	background: #e4e4e4;
    border: 0px;
    width: 28px !important;
    height: 28px;
    padding: 6px;
}
button.form-control:focus{
	background: #e4e4e4;
}
button.form-control.active{
	background: #4CA8D5;
}
select.form-control{
	border: 0;
	background: #e4e4e4;
}
select.form-control:focus{
	border: 0;
	background: #e4e4e4;
}
select.form-control option{
	background: white;
}

.dashboard-left { 
	width: 400px; 
} 
.liveView{
	width: calc(100% - 400px);
}